* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: relative;
}

h1,
h2 {
  color: #4fb9b9;
}

h1 {
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}

.post-info h2::before {
  content: "Top";
  background-color: gold;
  position: absolute;
  padding: 5px 10px;
  font-size: 16px;
  color: #28282b;
  top: -10px;
  right: -20px;
}

h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #f15d5d;
  margin-bottom: 30px;
}

h4 {
  font-size: 16px;
  font-style: italic;
  color: rgba(23, 165, 58, 0.63);
}

nav {
  font-size: 30px;
}

nav a:link {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-bottom: 60px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#author {
  font-style: italic;
}

#copyright {
  font-size: 20px;
  font-weight: bold;
}

.course-info {
  margin-bottom: 30px;
}

.related_author {
  font-size: 25px;
  font-weight: bold;
}

.related_posts {
  list-style: none;
}

.main_header {
  background-color: #f6f6f6;
  margin-bottom: 60px;
  padding: 20px 40px;
}

.post-info {
  margin-bottom: 40px;
}

aside {
  background-color: #f6f6f6;
  border-top: 5px solid #4fb9b9;
  border-bottom: 5px solid #4fb9b9;
  /* padding-top: 50px;
  padding-bottom: 50px; 
          or        */
  padding: 50px 0;
  width: 750px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
}

/* psuedo classes */

li:first-child {
  color: #4fb9b9;
  font-weight: bold;
}

/* Styling Hyperlinks */

a:link {
  color: #87cefa;
  text-decoration: none;
}

a:visited {
  color: #87cefa;
}

a:hover {
  font-weight: bold;
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  color: black;
  font-style: italic;
}
/* best practice to place links is in this order
link
visited
hover
active

to make it easy to remember you can use "LVHA"*/
.code-img {
  width: 100%;
  height: auto;
}

.like-button {
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* FLOATS */

.author-img {
  float: left;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  float: left;
  width: 800px;
}

aside {
  float: right;
  width: 350px;
  padding: 30px 20px;
}

footer {
  clear: both;
}
